<%= form_with scope: :solicitacao, url: solicitacaos_path, local: true do |form| %>
  
  <% if @solicitacao.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@solicitacao.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @solicitacao.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :'Dia da semana'  %><br>
    <%= form.select(:dia,[['Segunda', 1], ['Terça', 2], ['Quarta', 3], ['Quinta', 4]]) %>
  </p>
 
  <p>
    <%= form.label :Horário %><br>
    <%= form.text_area :horario %>
  </p>

  <p>
    <%= form.label :Quantidade  %><br>
    <%= form.text_field :quantidade %>
  </p>
  
   <p>
    <%= form.submit %>
  </p>
<% end %>
